.button, .button--primary{
  background: #646cff;
  color: #fff;
  transition: .3s;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.button--secondary{
    background: transparent;
    color: #646cff;
    border: 1px solid #646cff;
}

.button:hover{
  filter: brightness(1.1);
}

.button--secondary:hover{
  background: #646cff23;
}